APPSERVER_HOST=api_server
APPSERVER_PORT=8080
LE_OPTIONS="--staging"
LE_OPTIONS="--keep-until-expiring"
LE_RENEW_OPTIONS="--dry-run --no-self-upgrade --post-hook '"'nginx -s reload'"'"
LE_RENEW_CRON_COMMAND="echo 'Dummy cron command'"
LE_DATA_PATH=data/nginxle
